@tailwind base;
@tailwind components;
@tailwind utilities;

$bg-gray-800 {
    background-color: #333333;
}

$bg-gray-900 {
    background-color: #404040;
}

$text-gray-900 {
    color: #555555;
}

.text-sm {
    font-size: 1rem;
}

 Flex-center {
  display: flex;
  justify-content: center;
}
